#footerContents {
  display: flex;
  #blogTitle {
    margin: 1rem;

    #englishTitle {
      font-size: 2rem;
    }
    #japaneseTitle {
      text-align: right;
      font-size: 1rem;
      color: rgb(201, 201, 201);
    }
    #follow {
      color: rgb(201, 201, 201);
    }
  }
}
