$footerFontColor: rgb(238, 238, 238);
$hoverFontColor: rgb(201, 201, 201);

footer {
  font-size: 1.5rem;
  color: $footerFontColor;
  padding: 2rem;
  background: #52636d;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
  }

  li:not(:first-child) {
    margin-left: 1rem;
    text-decoration: none;
  }

  #footerContents {
    // display: flex;
    max-width: 20rem;
    margin: auto;
    color: $footerFontColor;

    #blogTitle {
      text-align: center;
      width: fit-content;
      margin: 2rem auto;

      #englishTitle {
        text-align: left;
        font-size: 2rem;
      }
      #japaneseTitle {
        text-align: left;
        font-size: 1.2rem;
        color: $footerFontColor;
        margin-bottom: 1rem;
      }
    }
    #follow {
      text-align: center;
      color: $footerFontColor;
      margin-bottom: 1rem;

      a {
        margin: 0.5rem;

        svg {
          fill: white;
          width: 40px;

          &:hover {
            fill: $hoverFontColor;
          }
          &:visited {
            color: $footerFontColor;
          }
        }
      }
    }

    #footer-nav {
      margin-bottom: 2rem;
      color: $footerFontColor;
      text-align: center;
      .footer-link {
        margin: 0.5rem;
        text-decoration: none;
        color: $footerFontColor;
        font-size: 1.3rem;

        &:hover {
          color: $hoverFontColor;
        }
      }
    }
  }
}

#copy {
  font-size: 1.1rem;
  text-align: center;
  color: $footerFontColor;
}
