#footerContents {
  // display: flex;
  max-width: 500px;
  margin: auto;

  #blogTitle {
    margin: 1rem;

    #englishTitle {
      font-size: 2rem;
    }
    #japaneseTitle {
      text-align: left;
      font-size: 1rem;
      color: rgb(201, 201, 201);
    }
    #follow {
      text-align: center;
      color: rgb(201, 201, 201);
      a {
        margin: 0.5rem;
      }
    }
  }
}
