$textColor: #353b41;
$hoverColor: black;

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  background-color: $textColor;
}

#app-bar {
  box-shadow: none;
  border-bottom: solid $textColor 1px;
}

#header {
  background-color: rgb(240, 248, 248);
  display: flex;
  // flex-direction: row;
  filter: none;

  a {
    color: $textColor;
    text-decoration: none;
  }

  #blog-title {
    width: 15rem;
    font-size: 1.3rem;

    &:hover {
      color: $hoverColor;
    }
  }

  #burger-button {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    margin: 1rem;
  }

  .header-contents {
    .header-content {
      color: $textColor;
      padding-left: 1rem;
      font-size: 1.4rem;
      font-style: italic;

      &:hover {
        color: $hoverColor;
      }
    }
  }
}

#drawer {
  background-color: rgb(240, 248, 248);
  .drawer-link {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: $textColor;
    text-decoration: none;

    &:visited {
      color: $textColor;
    }
  }
}
