* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

@media screen and (min-width: 560px) {
  .wrapper {
    margin: 0;
  }
}

header {
  padding: 1rem;
  background: lavender;

  &#header {
    background-color: rgb(240, 248, 248);
    display: flex;
    flex-direction: row;

    a {
      color: #353b41;
      text-decoration: none;
    }

    .header-contents {
      // display: flex;

      span {
        color: rgb(66, 66, 66);
        padding-left: 1rem;
        font-size: 1.4rem;
        font-style: italic;
      }
    }
  }
}

#main-aside-wrapper {
  display: flex;
  flex-direction: row;

  main {
    background-color: rgb(249, 249, 255);
    flex-grow: 1;
  }

  aside {
    max-width: 20rem;
    background-color: rgb(238, 238, 238);
    padding: 1rem;

    #sponser-link {
      text-align: center;
      background-color: white;
      padding: 1rem;
      margin: 3rem;
    }

    #profile-box {
      text-align: center;
      background-color: white;
      padding: 1rem;
      margin: 3rem;
    }
  }
}

footer {
  font-size: 1.5rem;
  color: white;
  padding: 3rem 2rem;
  background: #52636d;
  justify-content: space-between;

  &a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li:not(:first-child) {
    margin-left: 1rem;
    text-decoration: none;
  }

  #copy {
    font-size: 1.1rem;
    text-align: center;
    color: rgb(180, 180, 180);
  }
}

.content {
  margin: 1rem;

  ul {
    // display: flex;
    list-style-type: none;
  }

  .post {
    margin: 1rem;
  }
}
