#profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-img {
        border-radius: 40%;
        margin: 1rem;
    }
}

#career {
    h2 {
        text-align: center;
    }
}
