@font-face {
  font-family: "Noto Sans JP Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf");
}

@font-face {
  font-family: "Noto Sans JP Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf");
}
